.secretsPlan{
    background: url('../../img/foto-secrets/foto-secrets.png'),transparent linear-gradient(180deg, #C30D00 0%, #620700 100%) 0% 0% no-repeat padding-box;;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 24px;
    padding-left: 30%;
    min-height: 253px;
    display: flex;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 50px;
}

.secrets__container-info{
    display: flex;
}

.secrets__logo{
    font: normal normal 800 21px/34px Inter;
    color: var(--color-white);
    text-align: right;
    margin-right: 20px;
}

.secrets__logo p {
    margin: 0;

}

.secrets__logo img{
    width: 150px;
    height: 40px;
}

.secrets__info{
    /* width: 50%; */
    border-left: 2px solid var(--color-white);
    padding-left: 20px;
    font: normal normal 400 16px/20px Inter;
    color: var(--color-white);
}

.secrets__info button{
    border: 2px solid var(--azul-claro-sky);
    /* width: 50%; */
    border-radius: 24px;
    background-color: var(--color-white);
    font: normal normal 600 18px/21px Inter;
    padding:10px 50px;
    /* width: 50%; */
    color: var(--azul-claro-sky);
    transition: all 0.5s ease;
}

.secrets__info button:hover{
    border: 2px solid var(--azul-claro-sky);
    background-color: var(--azul-claro-sky);
    color: var(--color-white);
}

@media (min-width:1500px) {
    .secretsPlan{
        padding-left: 19%;
    }
}

@media (max-width:768px) {
    .secrets__logo{
        font: normal normal 800 21px/34px Inter;
    }

    .secrets__info p {
        font: normal normal 400 16px/20px Inter;
    }

    .secretsPlan{
        background-position: -20%;
    }

}

@media (max-width:600px) {
    .secretsPlan{
        padding-left: 0px;
        padding:32px 32px;
        width: 90%;
        height: 599px;
        align-items: flex-start;
        justify-content: center;
        background-position: 50% 100%;
    }

    .secrets__container-info{
        flex-direction: column;
        text-align: center;
    }

    .secrets__logo{
        text-align: center;
        font: normal normal 800 21px/34px Inter;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .secrets__logo img{
        width: 154px;
        height: 46px;
        /* margin-bottom: 20px; */
    }

    .secrets__info{
        width: 100%;
        border: none;
        border-top: 2px solid var(--color-white);
        padding-top: 20px;
    }

    .secrets__info p {
        font: normal normal 400 16px/20px Inter;
    }
    .secrets__info button{
        width: 200px;
        padding: 10px 10px;
    }
}

@media (max-width:375px) {
    .secretsPlan{
        height: 650px;
        background-position: 50% 100%;
    }
}