:root {
    --heightWindows: 100vh;
}

.snow{
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9;
    animation: fall 10s linear forwards;
    pointer-events: none;

}

@keyframes fall {
    to{
        transform: translateY(var(--heightWindows));
    }
}