:root {
    --azul-fuerte: #171048;
    --azul-claro: #d7e2eb;
    --azul-header: #2089fa;
    --azul-titulos: #0090df;
    --azul-megas: #53a7df;
    --aqua: #52dee4;
    --naranja: #f27c22;
    --gris-fondo: #f7f7f7;
    --gris-titulos: #304250;
    --gris-subtitulos: #616e78;
    --rosa: #B5007D;
    --rosa-title: #B5007D;
    --blanco: #ffffff;
    --color-input: #9AA7B2;
    --amarillo: #FFBF30;
    --bg-gris: #B5B9BD;
    --black: #161615;
    --azul-baner:#1C3879;
    --gris-menu:#EFEFEF;
    --new-blueL:#1C3879;
    --blue-strong:#242F9B;
    --azul:#262F95

}